---
import type { Publicacion } from "@interfaces/types";

interface Props {
  publicacion: Publicacion;
}

const { publicacion } = Astro.props;
const { autores, pdf, tematicas, titulo, id } = publicacion;

const formatoLista = new Intl.ListFormat("es", {
  type: "conjunction",
  style: "short",
});
---

<li class="rounded on-surface shadow outline">
  <hgroup>
    <h4><a href={pdf} class="primary-font">{titulo}</a></h4>
    <p class="accent-font">
      {formatoLista.format(autores.map(({ nombre }) => nombre))}
    </p>
  </hgroup>
  <p class="secondary-font">{formatoLista.format(tematicas)}</p>
  <div class="flex">
    <button
      type="button"
      class="flex align-items-center citar-btn outline rounded shadow primary-font"
      data-id={id}
      data-formato="apa"
    >
      Citar (APA)
      <img
        src="/copy.svg"
        alt="Copiar cita en formato APA"
        loading="lazy"
        width={24}
        height={24}
      />
    </button>
    <button
      type="button"
      class="flex align-items-center citar-btn outline rounded shadow primary-font"
      data-id={id}
      data-formato="ieee"
    >
      Citar (IEEE)
      <img
        src="/copy.svg"
        alt="Copiar cita en formato IEEE"
        loading="lazy"
        width={24}
        height={24}
      />
    </button>
  </div>
</li>

<style>
  li {
    padding: 16px;
    margin-bottom: 16px;
  }

  hgroup > h4 {
    margin: 0;
  }

  hgroup > p {
    margin-top: 8px;
    font-style: italic;
  }

  li > p {
    font-size: small;
  }

  li > div {
    justify-content: flex-end;
    gap: 16px;
  }

  .citar-btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-weight: 700;
    gap: 8px;
    padding: 8px 16px;
  }

  .citar-btn:hover {
    opacity: 0.6;
  }

  @media screen and (width > 1024px) {
    li {
      width: 85vw;
    }
  }
</style>

<script>
  import { formatoAPA, formatoIEEE } from "@helpers/citar";
  import { publicaciones } from "@informacion/es/publicaciones";

  const citarPublicacion = (boton: HTMLButtonElement) => {
    return async () => {
      const formato = boton.dataset.formato ?? "apa";

      const id = boton.dataset.id;
      if (!id) return;

      const publicacion = publicaciones.find((p) => p.id === id);
      if (!publicacion) return;

      const cita =
        formato === "ieee" ? formatoIEEE(publicacion) : formatoAPA(publicacion);
      await navigator.clipboard.writeText(cita);

      console.log("Cita copiada");
      (boton.firstElementChild as HTMLImageElement).src = "/ok.svg";
    };
  };

  const botones = document.querySelectorAll<HTMLButtonElement>(".citar-btn");
  botones.forEach((boton) =>
    boton.addEventListener("click", citarPublicacion(boton)),
  );
</script>
