---
import type { Publicacion } from "@interfaces/types";

interface Props {
  publicacion: Publicacion;
}

const { publicacion } = Astro.props;
const { autores, pdf, tematicas, titulo, id } = publicacion;
const formatoLista = new Intl.ListFormat("es", {
  type: "conjunction",
  style: "short",
});
---

<li class="rounded on-surface shadow outline">
  <hgroup>
    <h4><a href={pdf} class="primary-font">{titulo}</a></h4>
    <p class="accent-font">
      {formatoLista.format(autores.map(({ nombre }) => nombre))}
    </p>
  </hgroup>
  <p class="secondary-font">{formatoLista.format(tematicas)}</p>
  <div class="flex">
    <button
      type="button"
      class="boton boton-texto-icono shadow"
      data-id={id}
      data-formato="apa"
    >
      Citar (APA)
      <img
        src="/copy.svg"
        alt="Copiar cita en formato APA"
        loading="lazy"
        width={24}
        height={24}
      />
    </button>
    <button
      type="button"
      class="boton boton-texto-icono shadow"
      data-id={id}
      data-formato="ieee"
    >
      Citar (IEEE)
      <img
        src="/copy.svg"
        alt="Copiar cita en formato IEEE"
        loading="lazy"
        width={24}
        height={24}
      />
    </button>
  </div>
</li>

<style>
  li {
    padding: 16px;
    margin-bottom: 16px;
  }

  hgroup > h4 {
    margin: 0;
  }

  hgroup > p {
    margin-top: 8px;
  }

  li > p {
    font-size: small;
    font-style: italic;
  }

  li > div {
    justify-content: flex-end;
    gap: 16px;
  }

  .boton-texto-icono {
    display: flex;
    align-items: center;
    gap: 8px;

    color: var(--primary-font-color);
    font-weight: 700;

    outline: var(--primary-color) solid 2px;
    border-radius: 8px;
    background-color: transparent;
    padding: 8px 16px;
  }

  @media screen and (width > 1024px) {
    li {
      width: 85vw;
    }
  }
</style>

<script>
  import { citarPublicacion } from "@eventos/citar-publicacion";

  document
    .querySelectorAll<HTMLButtonElement>(".boton-texto-icono")
    .forEach((boton) =>
      boton.addEventListener("click", citarPublicacion(boton)),
    );
</script>
