---
import type { Publicacion } from "@interfaces/types";

interface Props {
  publicacion: Publicacion;
}

const { publicacion } = Astro.props;
const { autores, pdf, tematicas, titulo, id } = publicacion;
const formatoLista = new Intl.ListFormat("es", {
  type: "conjunction",
  style: "short",
});
---

<li class="rounded on-surface shadow outline p-16 tarjeta-gap tarjeta-li">
  <hgroup>
    <h4 class="titulo-sin-margen">
      <a href={pdf} class="primary-font">{titulo}</a>
    </h4>
    <p class="accent-font mt-8">
      {formatoLista.format(autores.map(({ nombre }) => nombre))}
    </p>
  </hgroup>
  <p class="secondary-font tertiary-text">{formatoLista.format(tematicas)}</p>
  <div class="flex seccion-botones gap-16">
    <button
      type="button"
      class="boton boton-texto-icono shadow"
      data-id={id}
      data-formato="apa"
    >
      Citar (APA)
      <img
        src="/copy.svg"
        alt="Copiar cita en formato APA"
        loading="lazy"
        width={24}
        height={24}
      />
    </button>
    <button
      type="button"
      class="boton boton-texto-icono shadow"
      data-id={id}
      data-formato="ieee"
    >
      Citar (IEEE)
      <img
        src="/copy.svg"
        alt="Copiar cita en formato IEEE"
        loading="lazy"
        width={24}
        height={24}
      />
    </button>
    <button
      type="button"
      class="boton boton-texto-icono shadow"
      data-id={id}
      data-formato="bibtex"
    >
      Citar (BibTeX)
      <img
        src="/copy.svg"
        alt="Copiar cita en formato BibTeX"
        loading="lazy"
        width={24}
        height={24}
      />
    </button>
  </div>
</li>

<script>
  import { citarPublicacion } from "@eventos/citar-publicacion";

  document
    .querySelectorAll<HTMLButtonElement>(".boton-texto-icono[data-formato]")
    .forEach((boton) =>
      boton.addEventListener("click", citarPublicacion(boton)),
    );
</script>
