---
import type { Publicacion } from "@interfaces/types";

/*
  Definimos las entradas o inputs del componente.

  Propiedades:
    - publicacion: Contiene la informacion de la publicacion a mostrar
*/
interface Props {
  publicacion: Publicacion;
}

const { publicacion } = Astro.props;
const { pdf, titulo, id, periodo, abstract } = publicacion;
---

<!-- Creamos la tarjeta que contendra la informacion de la publicacion -->
<details name="publicaciones" class="rounded p-16 tarjeta-gap tarjeta-li">
  <summary class="flex space-between gap-16">
    <h3 class="titulo-sin-margen">
      <a href={pdf}>{titulo}</a>
      <span>({periodo})</span>
    </h3>
  </summary>
  <div class="details-content">
    <p class="primary-font mt-8">{abstract}</p>
    <div class="flex seccion-botones gap-16">
      <!--
        Boton para crear una cita en formato APA, los atributos data-id y data-formato le dan informacion a la funcion
        que maneja el evento click sobre la publicacion que el usuario desea citar y el formato de la cita
      -->
      <button
        type="button"
        class="boton boton-texto-icono shadow"
        data-id={id}
        data-formato="apa"
      >
        Citar (APA)
        <img
          src="/copy.svg"
          alt="Copiar cita en formato APA"
          loading="lazy"
          width={24}
          height={24}
        />
      </button>
      <!--
        Boton para crear una cita en formato IEEE, los atributos data-id y data-formato le dan informacion a la funcion
        que maneja el evento click sobre la publicacion que el usuario desea citar y el formato de la cita
      -->
      <button
        type="button"
        class="boton boton-texto-icono shadow"
        data-id={id}
        data-formato="ieee"
      >
        Citar (IEEE)
        <img
          src="/copy.svg"
          alt="Copiar cita en formato IEEE"
          loading="lazy"
          width={24}
          height={24}
        />
      </button>
      <!--
        Boton para crear una cita en formato BibTeX, los atributos data-id y data-formato le dan informacion a la funcion
        que maneja el evento click sobre la publicacion que el usuario desea citar y el formato de la cita
      -->
      <button
        type="button"
        class="boton boton-texto-icono shadow"
        data-id={id}
        data-formato="bibtex"
      >
        Citar (BibTeX)
        <img
          src="/copy.svg"
          alt="Copiar cita en formato BibTeX"
          loading="lazy"
          width={24}
          height={24}
        />
      </button>
    </div>
  </div>
</details>

<style>
  details {
    outline: #f6dc43 solid 2px;
    background-color: #4f1c51;
  }

  @media (prefers-color-scheme: dark) {
    details {
      background-color: #62336874;
    }
  }

  span {
    color: #f6dc43;
  }

  p,
  a {
    color: white;
  }

  summary {
    cursor: pointer;
  }

  summary::after {
    content: url("/open_details.svg");
    width: 24px;
    height: 24px;
  }

  details[open] summary::after {
    content: url("/close_details.svg");
    width: 24px;
    height: 24px;
  }

  button {
    outline-color: #f6dc43;
  }

  button:hover {
    color: #f6dc43;
  }
</style>

<script>
  import { citarPublicacion } from "@eventos/citar-publicacion";

  /*
    Obtenemos la referencia todos los botones que contengan el atributo data-formato, es decir, todos los botones de las tajetas
    que sirvan para crear una cita.

    Los iteramos y adjuntamos a ellos un listener para el evento click. La funcion citarPublicacion se encarga de obtener
    la informacion de la publicacion, generar la cita en el formato solicitado y copiar en el portapapeles del usuario.
  */
  document
    .querySelectorAll<HTMLButtonElement>(".boton-texto-icono[data-formato]")
    .forEach((boton) =>
      boton.addEventListener("click", citarPublicacion(boton)),
    );
</script>
