---
import type { ServicioSocial } from "@interfaces/types";

/*
  Definimos las entradas o inputs del componente.

  Propiedades:
    - oferta: Contiene la informacion sobre la oferta de servicio social
*/
interface Props {
  oferta: ServicioSocial;
  index: number;
}
const { oferta, index } = Astro.props;
---

<!-- Creamos la tarjeta de servicio social -->
<article>
  <div class="flex justify-center">
    <img
      src={`/offer_no_${index}.svg`}
      alt={`Oferta de Servicio Social número ${index}`}
      width={48}
      height={48}
    />
  </div>
  <hgroup class="mt-16">
    <!--
      Creamos un encabezado con el nombre de la oferta, ademas agregamos un enlace que lleva a la pagina
      oficial de la plataforma SIASSYPP con los detalles de la oferta.
    -->
    <h3 class="titulo-sin-margen">
      <a href={oferta.url} target="_blank" class="primary-font">
        {oferta.nombre}
      </a>
    </h3>
    <!-- Mostramos el eje tematico de la oferta -->
    <p class="primary-font mt-8 semi-bold">{oferta.eje_tematico}</p>
  </hgroup>
  <section>
    <!-- Mostramos la clave de la oferta de servicio social -->
    <p class="primary-font mt-8">
      Clave: <strong>{oferta.clave}</strong>
    </p>
  </section>
  <!-- Mostramos informacion relevante sobre el encargado de la oferta como su nombre, cargo y correo electronico -->
  <section>
    <h4 class="titulo-sin-margen titulo">Responsable</h4>
    <p class="primary-font mt-8 mb-0">
      {oferta.responsable.cargo}
      {oferta.responsable.nombre}
    </p>
    <p class="primary-font mt-8">
      <strong>{oferta.responsable.email}</strong>
    </p>
  </section>
</article>

<style>
  h3,
  h4,
  p {
    text-align: center;
  }

  .primary-font,
  .titulo {
    color: white !important;
  }

  strong {
    color: var(--secondary-color);
  }

  .semi-bold {
    font-weight: 600;
  }
</style>
