---
import type { Miembro } from "@interfaces/types";

interface Props {
  miembro: Miembro;
}

const { miembro } = Astro.props;
const { nombre, puesto, periodo } = miembro;
const { inicio, fin } = periodo;
---

<article class="rounded on-surface shadow outline">
  <hgroup>
    <h4>{nombre}</h4>
    <p class="accent-font">{puesto}</p>
  </hgroup>
  <p class="secondary-font">
    <time datetime={inicio.formatoISO}>{inicio.formatoHumano}</time> -
    <time datetime={fin.formatoISO}>{fin.formatoHumano}</time>
  </p>
</article>

<style>
  article {
    gap: 16px;
    padding: 8px 16px;
    margin-bottom: 16px;
  }

  hgroup > h4 {
    margin-bottom: 0;
    font-size: large;
  }

  hgroup > p {
    margin-top: 4px;
  }

  article > p {
    font-size: small;
    font-style: italic;
  }

  img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
</style>
