---
import type { Miembro } from "@interfaces/types";

/*
  Declaramos las entradas o inputs del componente.

  Propiedades:
    - miembro: Contiene la informacion del miembro a mostrar.
*/
interface Props {
  miembro: Miembro;
}

const { miembro } = Astro.props;
// Obtenemos la informacion a mostrar del miembro
const { nombre, puesto, periodo } = miembro;
// Obtenemos la informacion del inicio y fin del periodo de actividad del miembro dentro del laboratorio
const { inicio, fin } = periodo;
---

<!--
  Creamos una tarjeta con los bordes redondeados, contorno, efecto de sombra, etc
-->
<article class="rounded on-surface outline p-8-16 tarjeta-gap gap-16">
  <hgroup>
    <!-- Como titulo mostramos el nombre del miembro -->
    <h4 class="titulo-sin-margen">{nombre}</h4>
    <!-- Como subtitulo mostramos el cargo que desempeño durante su estancia en el laboratorio -->
    <p class="accent-font mt-8 semi-bold">{puesto}</p>
  </hgroup>
  <p class="secondary-font tertiary-text mb-0">
    <!-- 
      Mostramos la fecha de inicio y fin de su estancia en el laboratorio con ayuda de la etiqueta time ayudamos 
      a las herramientas de navegacion como los lectores de pantalla a interpretar ambas fechas.
    -->
    <time datetime={inicio.formatoISO}>{inicio.formatoHumano}</time> -
    <time datetime={fin.formatoISO}>{fin.formatoHumano}</time>
  </p>
</article>

<style>
  /* Aumentamos ligeramente el tamaño de fuente del encabezado que contiene el nombre del miembro */
  hgroup > h4 {
    font-size: large;
  }

  h4,
  p {
    text-align: center;
  }

  .semi-bold {
    font-weight: 600;
  }

  article {
    transition: scale 0.1s ease-in;
  }

  article:hover {
    scale: 104%;
    transition: scale 0.1s ease-in;
  }
</style>
