---
import type { Miembro } from "@interfaces/types";

interface Props {
  miembro: Miembro;
}

const { miembro } = Astro.props;
const { nombre, puesto, periodo } = miembro;
const { inicio, fin } = periodo;
---

<article class="rounded on-surface shadow outline p-8-16 tarjeta-gap gap-16">
  <hgroup>
    <h4 class="titulo-sin-margen">{nombre}</h4>
    <p class="accent-font mt-8">{puesto}</p>
  </hgroup>
  <p class="secondary-font tertiary-text mb-0">
    <time datetime={inicio.formatoISO}>{inicio.formatoHumano}</time> -
    <time datetime={fin.formatoISO}>{fin.formatoHumano}</time>
  </p>
</article>

<style>
  hgroup > h4 {
    font-size: large;
  }
</style>
