---
// Importamos los componentes que construyen la pagina
import Miembros from "@componentes/miembros/miembros.astro";
import QuienesSomos from "@componentes/presentacion/quienes-somos.astro";
import Proyectos from "@componentes/proyectos/proyectos.astro";
import Publicaciones from "@componentes/publicaciones/publicaciones.astro";
import ServicioSocial from "@componentes/servicio/servicio-social.astro";
import Layout from "@layouts/Layout.astro";

// Importamos el objeto que contiene toda la informacion a mostrar
import { paginaIndex } from "@informacion/es/paginaIndex";
---

<!-- 
  Utilizamos el Layout el cual contiene el head de la pagina HTML, carga los estilos globales, contiene el navbar
  (barra de navegacion) y establece los metatags que ayudan a los bots de Google a indexar nuestra pagina.
-->
<Layout metadata={paginaIndex.metadata}>
  <!-- 
    Encabezado de bienvenida a la pagina del laboratorio y subtitulo con las instituciones a las que pertenece 
    el laboratorio
  -->
  <hgroup>
    <h1>{paginaIndex.bienvenida}</h1>
    <p class="secondary-font">
      <abbr
        translate="no"
        title="Instituto de Investigaciones en Matemáticas Aplicadas y Sistemas"
      >
        IIMAS
      </abbr>,
      <abbr title="Universidad Nacional Autónoma de México" translate="no">
        UNAM
      </abbr>
    </p>
  </hgroup>
  <section>
    <!-- Usamos el componente Quienes-Somos y enviamos la informacion que debe mostrar -->
    <QuienesSomos quienesSomos={paginaIndex.quienesSomos} />
    <!-- Usamos el componente Miembros y enviamos la informacion que debe mostrar -->
    <Miembros miembros={paginaIndex.miembros} />
  </section>
  <!-- Usamos el componente ServicioSocial y enviamos la informacion que debe mostrar -->
  <ServicioSocial ofertas={paginaIndex.servicioSocial} />
  <!-- Usamos el componente Proyectos y enviamos la informacion que debe mostrar -->
  <Proyectos proyectos={paginaIndex.proyectos} />
  <!-- Usamos el componente Publicaciones y enviamos la informacion que debe mostrar -->
  <Publicaciones publicaciones={paginaIndex.publicaciones} />
</Layout>

<style>
  /* Reducimos el especio entre el encabezado de bienvenida y el subtitulo que lo acompaña */
  hgroup h1 {
    margin-bottom: 0;
  }
</style>
