---
import Miembros from "@componentes/miembros/miembros.astro";
import QuienesSomos from "@componentes/presentacion/quienes-somos.astro";
import Proyectos from "@componentes/proyectos/proyectos.astro";
import Publicaciones from "@componentes/publicaciones/publicaciones.astro";
import ServicioSocial from "@componentes/servicio/servicio-social.astro";
import Layout from "@layouts/Layout.astro";

import { paginaIndex } from "@informacion/es/paginaIndex";
---

<Layout {...paginaIndex.metadata}>
  <hgroup>
    <h1>Laboratorio de Lenguaje y Análisis de Textos</h1>
    <p class="secondary-font">
      <abbr
        title="Instituto de Investigaciones en Matemáticas Aplicadas y Sistemas"
      >
        IIMAS
      </abbr>,
      <abbr title="Universidad Nacional Autónoma de México">UNAM</abbr>
    </p>
  </hgroup>
  <section>
    <QuienesSomos quienesSomos={paginaIndex.quienesSomos} />
    <Miembros miembros={paginaIndex.miembros} />
  </section>
  <Publicaciones publicaciones={paginaIndex.publicaciones} />
  <Proyectos proyectos={paginaIndex.proyectos} />
  <ServicioSocial ofertas={paginaIndex.servicioSocial} />
</Layout>

<style>
  hgroup h1,
  hgroup p {
    text-align: center;
  }

  hgroup h1 {
    margin-bottom: 0;
  }
</style>
