---
import type { Recurso } from "@interfaces/types";

/*
  Definimos las entradas o inputs del componente.

  Propiedades:
    - recurso: Contiene la informacion del recurso de un proyecto.
*/
interface Props {
  recurso: Recurso;
}
const { recurso } = Astro.props;
---

<!-- Creamos un link al recurso, dicho recurso sera abierto en una nueva pestaña del navegador -->
<a
  href={recurso.recurso}
  target="_blank"
  title={recurso.descripcion}
  class="no-text-decoration"
>
  <!-- Mostramos un boton con la descripcion y un icono relacionado al recurso -->
  <button type="button" class="boton boton-texto-icono shadow">
    {recurso.nombre}
    <img
      src={recurso.icono}
      alt={recurso.descripcion}
      loading="lazy"
      width={24}
      height={24}
    />
  </button>
</a>
